# ==============================================================================
# Server Configuration
# ==============================================================================
APP_PORT=8080

# ==============================================================================
# Downstream Services Routing (Docker Network Internal URLs)
# ==============================================================================
USER_SERVICE_URL=http://user-service:8080
UPLOAD_SERVICE_URL=http://upload-service:8080
SPLITTER_SERVICE=http://slitter-service:8080
AI_SERVICE_URL=http://ai-service:8080
