# ==============================================================================
# Server Configuration
# ==============================================================================
APP_PORT=8080

# ==============================================================================
# PostgreSQL Settings
# ==============================================================================
# В Docker Compose указывается имя контейнера (postgres-upload), для IDE — localhost
DB_HOST=postgres-upload
POSTGRES_PORT=5432
POSTGRES_DB=upload_db
POSTGRES_USER=upload_user
POSTGRES_PASSWORD=upload_pass



# ==============================================================================
# Flyway Configuration
# ==============================================================================
 SPRING_FLYWAY_ENABLED=true