# ==============================================================================
# AWS S3 / Object Storage Settings
# ==============================================================================
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_REGION=
AWS_RAW_BUCKET_NAME=raw-videos
AWS_PROCESSED_BUCKET_NAME=processed-videos
AWS_ENDPOINT=