# ==============================================================================
# Kafka KRaft Node & Cluster Settings
# ==============================================================================
KAFKA_NODE_ID=1
KAFKA_PROCESS_ROLES=broker,controller
KAFKA_CLUSTER_ID=MkU3OEVBNT-JODIyU24xRzE5VjN6SQ

# ==============================================================================
# Listeners Configuration
# ==============================================================================
# INTERNAL: Для общения между сервисами внутри Docker-сети
# EXTERNAL: Для подключения с локального хоста (localhost)
# CONTROLLER: Для внутренней синхронизации KRaft quorum
KAFKA_LISTENERS=INTERNAL://0.0.0.0:9092,EXTERNAL://0.0.0.0:29092,CONTROLLER://0.0.0.0:9093
KAFKA_ADVERTISED_LISTENERS=INTERNAL://kafka:9092,EXTERNAL://localhost:29092

# ==============================================================================
# Security & Protocol Mapping
# ==============================================================================
KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT
KAFKA_INTER_BROKER_LISTENER_NAME=INTERNAL

# ==============================================================================
# KRaft Quorum Settings
# ==============================================================================
KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka:9093

# ==============================================================================
# Single-Node Replication Settings
# ==============================================================================
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=1

# ==============================================================================
# KAFKA BOOTSTRAP
# ==============================================================================
KAFKA_BOOTSTRAP_SERVERS=kafka:9092